[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ofxparse = "*"
pytz = "*"
python-magic = "*"
python-magic-win64 = "*"
openpyxl = "*"
xlrd = "*"
sqlalchemy = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
python-dotenv = "*"
requests = "==2.28.2"

[dev-packages]
ipykernel = "*"
black = "*"
autopep8 = "*"
vistir = "==0.6.1"
pipenv-setup = "*"
jupytext = "*"
ipython = "*"

[requires]
