beautifulsoup4==4.12.2
et-xmlfile==1.1.0
fbpyutils==1.3.0
lxml==4.9.3
numpy==1.25.1
ofxparse==0.21
openpyxl==3.1.2
pandas==2.0.3
python-dateutil==2.8.2
python-magic==0.4.13
python-magic-win64==0.4.13
pytz==2023.3
six==1.16.0
soupsieve==2.4.1
tzdata==2023.3
xlrd==2.0.1
